[Unit]
Description=Ripple Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/stoxumd --conf=/etc/stoxumd/stoxumd.cfg
 
[Install]
WantedBy=multi-user.target